extend layout

block content
  h2
    img(src='#{appData.icons["128"]}', width=32, height=32)
    if appData.name['en-US']
      span #{appData.name['en-US']} by #{appData.author}
    else
      span #{appData.name[Object.keys(appData.name)[0]]} by #{appData.author}

  if appData.is_packaged
    button(data-package-manifest-url='#{appData.manifest_url}', class='btn btn-default') Install Packaged
    span#progress
      hi

    p
      | note: to install packaged apps from thecount, go to 
      tt about:config 
      | and add this host to 
      tt dom.mozApps.signed_apps_installable_from
  else
    button(data-manifest-url='#{appData.manifest_url}', class='btn btn-default') Install Hosted
    span#progress
      hi

  p
    a(target='_blank',href='http://marketplace.firefox.com/app/#{appData.slug}') open at firefox marketplace

  p !{appData.description['en-US']}

  div
    each type in appData.device_types
      span #{type}, 

  div
    each category in appData.categories
      span #{category}, 

  .row
    each preview in appData.previews
      div(class='col-xs-6 col-md-3')
        a(href="#", class="thumbnail")
          img(src='#{preview.thumbnail_url}')

  p version #{appData.manifest.version}

  p default_locale #{appData.manifest.default_locale}

  p ratings #{appData.ratings.count} average #{appData.ratings.average}

  p created #{appData.created}

  p reviewed #{appData.reviewed}

  if appData.is_packaged
    p
      a(href='#{appData.miniManifest.package_path}') download package (#{numeral(appData.miniManifest.size).format('0,0')} bytes)

