extend layout

block content
	h2 #{title}

	h3 #{apps.length} apps

	span.glyphicon.glyphicon-file
	span = offline,
	span.glyphicon.glyphicon-cloud
	span = hosted,
	span.glyphicon.glyphicon-plane
	span = offline

	table
		thead
			tr
				td
				td Name
				td Type
				td Size
				td Average
				td Count

		each app in apps
			tr
				td
					a(href='/app/#{app.id}')
						img(src='#{app.icons["128"]}', width=32, height=32)

				td
					a(href='/app/#{app.id}')
						if app.name['en-US']
							span #{app.name['en-US']}
						else
							span #{app.name[Object.keys(app.name)[0]]}		

				td
					if app.is_packaged
						span.glyphicon.glyphicon-file
					else
						span.glyphicon.glyphicon-cloud

					if app.is_offline
						span.glyphicon.glyphicon-plane

				td(align='right')
					if app.is_packaged && app.miniManifest && app.miniManifest.size
						span #{numeral(app.miniManifest.size).format('0,0')}

				td(align='right')
					if app.ratings
						if app.ratings.average > 4
							span *****
						else if app.ratings.average > 3
							span ****
						else if app.ratings.average > 2
							span ***
						else if app.ratings.average > 1
							span **
						else
							span *

				td(align='right')
						span #{numeral(app.ratings.count).format('0,0')}
