extend layout

block content
	h2 #{title}

	if (progressReport.isRunning)
		h4 apps (#{progressReport.apps} of #{progressReport.totalCount})

		.progress
			#rebuildprogress.progress-bar(role='progressbar',style='width: #{progressReport.appPercentage}%') #{Math.round(progressReport.appPercentage)}%

		h4 manifests (#{progressReport.manifestCount} of #{progressReport.totalCount})

		.progress
			#manifestprogress.progress-bar(role='progressbar',style='width: #{progressReport.manifestPercentage}%') #{Math.round(progressReport.manifestPercentage)}%
		
		h4 #{Math.round(progressReport.elapsedSeconds)} secs

		h4 #{progressReport.pendingRequests} pending requests

		h3 #{progressReport.errorApps.length} errors

		table
			each app in progressReport.errorApps
				tr
					td
						a(href='/app/#{app.id}')
							img(src='#{app.icons["128"]}', width=32, height=32)

					td
						a(href='/app/#{app.id}')
							if app.name['en-US']
								span #{app.name['en-US']}
							else
								span #{app.name[Object.keys(app.name)[0]]}	
					td
						if app.manifest && app.manifest.error
							a(href=app.manifest_url) Manifest:&nbsp;
							span #{app.manifest.error}	
						if app.appcache_manifest && app.appcache_manifest.error
							a(href=app.manifest_url) Appcache Manifest:&nbsp;
							span #{app.appcache_manifest.error}	

	else
		h4 not running

		a(href='/rebuild').btn.btn-default start rebuilding database